@font-face {
  font-family: Roboto;
  src: url('@src/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url('@src/fonts/Roboto-Bold.ttf');
}

body {
  margin: 0;
}

body * {
  font-family: Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
