@font-face {
  font-family: Roboto;
  src: url('@src/fonts/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto;
  font-weight: bold;
  src: url('@src/fonts/Roboto-Bold.ttf');
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body * {
  font-family: Roboto, HelveticaNeue, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}
